@page "/call-js-old-way"
@inject IJSRuntime JS

<h1>
    Call JS in old way
</h1>

<p>
    <span id="result2">.NET method not executed</span>
</p>

@code {

    //private IJSObjectReference module;
    //protected override async Task OnInitializedAsync()
    //{
    //    module = await JS.InvokeAsync<IJSObjectReference>("import", "../Pages/CallJSOldWay.razor.js");
    //    await module.InvokeVoidAsync("showMessage");
    //}
}