@page "/"
<p>Plain input:</p>

<input @bind="searchText" @bind:after="PerformSearch" />

<p>InputText control:</p>
<InputText @bind-Value="searchText" @bind-Value:after="PerformSearch" />

@code {
    string searchText;

    async Task PerformSearch()
    {
        Console.WriteLine(searchText);
    }
}