<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleBlazorWebAssembly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (var item in MenuDic)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Key" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> @item.Value
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private Dictionary<string, string> MenuDic { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MenuDic = new Dictionary<string, string> {
            { "", "Home" },
            { "counter", "Counter" },
            { "fetchdata", "Fetch data" },
            { "nav-handler", "Nav handler" },
            { "nav-lock", "Nav lock" },
            { "navigate", "Navigate" },
            { "history-entry-state", "History entry state" },
            { "quick-grid", "Quick grid" },
            { "quick-grid-filter", "Quick grid filter" },
            { "call-javascript-1", "Call JS 1" },
            { "call-js-new-way", "Call JS in new way" },
            { "call-js-old-way", "Call JS in old way" },
            { "call-dotnet-1", "Call .NET from JS" },
            { "custom-element", "Custom element" },
        };
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
